.container {
    margin: auto;
    padding-top: 100px;
    margin-top: 30px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    text-align: center;
    background-color: #55D8C1;
    font-size: 18px;

}

input {
    width: 30%;
    border-radius: 15px;
    padding: 10px 0 10px 12px;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: #FFF56D;

}

input[type="submit"] {
    border-radius: 10px;
    background-color: #ffffff;
    padding-left: 0;
    height: 32px;
    width: 150px;
    cursor: pointer;

}
.watermark {
    opacity: 0.2;
    font-size: 52px;
    color: 'black';
    background: '#ccc';
    position: absolute;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    right: 5px;
    bottom: 5px;
  }